.shutsuryoku-zumi {
  background-color: #4682b4 !important;
}
.houshin-sakusei {
  background-color: #f0e68c !important;
}
.houshin-sakusei-irai {
  background-color: #fbceb1 !important;
}
.houshin-kakunin-chuu {
  background-color: #638b2c !important;
}
.houshin-kakunin-zumi {
  background-color: #c3b091 !important;
}
.shousai-sakusei {
  background-color: #ba8759 !important;
}
.mi-sakusei {
  background-color: #d4d4d4 !important;
}
.kakunin-chuu {
  background-color: #add8e6 !important;
}
.teishutsu-zumi {
  background-color: #ace1af !important;
}
.kakunin-zumi {
  background-color: #32cd32 !important;
}
.chekku-zumi {
  background-color: #fff2cc !important;
}
.chekku-mi {
  background-color: #d1e8b2 !important;
}
.error {
  color: #ff3b33 !important;
}
.card-title .ant-card-head {
  font-weight: bold !important;
}
